@model Microsoft.Store.PartnerCenter.Explorer.Models.ConfigurationRecordsModel
@using Microsoft.Samples.AzureAD.Graph.API.Models;

<table class="table table-striped">
    <thead>
        <tr>
            <th>Record</th>
            <th>Value</th>
            <th>Type</th>
            <th>TTL</th>
            <th>Service</th>
        </tr>
    </thead>
    @foreach (ServiceConfigurationRecord record in Model.ServiceConfigurationRecords)
    {
        <tr>
            <td>
                @Html.DisplayFor(item => record.Label)
            </td>
            <td>
                @if (record.RecordType.Equals("cname", StringComparison.CurrentCultureIgnoreCase))
                {
                    @Html.DisplayFor(item => ((DomainDnsCnameRecord)record).CanonicalName)
                }
                else if (record.RecordType.Equals("mx", StringComparison.CurrentCultureIgnoreCase))
                {
                    @Html.DisplayFor(item => ((DomainDnsMxRecord)record).MailExchange)
                }
                else if (record.RecordType.Equals("srv", StringComparison.CurrentCultureIgnoreCase))
                {
                    DomainDnsSrvRecord s = (DomainDnsSrvRecord)record;

                    @($"Port={s.Port} Priority={s.Priority} Protocol={s.Protocol} Service={s.Service} Weight={s.Weight}")
                }
                else if (record.RecordType.Equals("txt", StringComparison.CurrentCultureIgnoreCase))
                {
                    @Html.DisplayFor(item => ((DomainDnsTxtRecord)record).Text)
                }
            </td>
            <td>
                @Html.DisplayFor(item => record.RecordType)
            </td>
            <td>
                @Html.DisplayFor(item => record.Ttl)
            </td>
            <td>
                @Html.DisplayFor(item => record.SupportedService)
            </td>
        </tr>
    }
</table>