@model Microsoft.Store.PartnerCenter.Explorer.Models.ServiceRequestModel

<tr>
    <td>
        @Html.DisplayFor(item => item.Id)
    </td>
    <td>
        @Html.DisplayFor(item => item.CreatedDate)
    </td>
    <td>
        @Html.DisplayFor(item => item.Title)
    </td>
    <td>
        @Html.DisplayFor(item => item.Status)
    </td>
    <td>
        @Html.DisplayFor(item => item.Organization)
    </td>
    <td>
        @Html.DisplayFor(item => item.PrimaryContact)
    </td>
    <td>
        @Html.DisplayFor(item => item.ProductName)
    </td>
</tr>